<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAcY7dKIA6-nmeN39V_J7ksWKM8ZU2gtSM</string>
	<key>GCM_SENDER_ID</key>
	<string>971515442076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mehdioturak.Friends-Chat</string>
	<key>PROJECT_ID</key>
	<string>friends-chat-fc47e</string>
	<key>STORAGE_BUCKET</key>
	<string>friends-chat-fc47e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971515442076:ios:bda2c6ea748ae39e5a8e59</string>
</dict>
</plist>